**Exercise 2: Create markdown cell with title of the notebook**

# Title : Data Science Tools and Ecosystem

<hr style='border: 0.5px solid gray'>

**Exercise 3 - Create a markdown cell for an introduction**

## Introduction: 
**This is a jupyter notebook created using Anaconda Software Distribution. In this notebook Data Science tools and Data ecosystem is summarized.**

### Objectives:
* List popular languages for Data Science
* Most commanly used data science tools
* Arithmatic exprssion in Python
* Comment and Markdown in jupython notebook

<hr style='border: 0.5px solid gray'>

**Exercise 4 - Create a markdown cell to list data science languages**

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. and C++, JavaScript etc.

<hr style='border: 0.5px solid gray'>

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. TensorFlow
5. Seaborn
6. Scipy
7. Scikit-learn
8. Keras
9. PyTorch and many more.

<hr style='border: 0.5px solid gray'>

**Exercise 6 - Create a markdown cell with a table of Data Science tools.**

| Data Science Tools|
|---------|
|RStudio|
|Apache Spark|
|Apache Hadoop|
|Watson Studio|
|Watson Open Scale|
|IBM AI Fairness 360|
|Spyder|
|git, Github|
|Apache Atlas|
|ODPi Egeria|
|Kylo|

<hr style='border: 0.5px solid gray'>

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples.**

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
first_num = 18
second_num = 3
add = first_num + second_num
subtract = first_num-second_num
product = first_num*second_num
division = first_num/second_num
remainder = first_num%second_num
print("add: {}, subtract= {}, product={}, division = {}, reaminder= {}".format(add,subtract,product,division,remainder))

add: 21, subtract= 15, product=54, division = 6.0, reaminder= 0

<hr style='border: 0.5px solid gray'>

**Exercise 8 - Create a code cell to multiply and add numbers**

In [18]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

<hr style='border: 0.5px solid gray'>

**Exercise 9 - Create a code cell to convert minutes to hours.**

In [19]:
minutes = 200
#  This will convert 200 minutes to hours by diving by 60
hours = minutes/60
print(round(hours,2), "hrs")

3.33 hrs

<hr style='border: 0.5px solid gray'>

**Exercise 10 -Insert a markdown cell to list Objectives.**

Inserted markdown cell with list Objectibe under exercise 3

<hr style='border: 0.5px solid gray'>

**Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.**

## Author 
Sikandar

<hr style='border: 0.5px solid gray'>